<section id="shop">
  <div class="intro">
    <h1>L'Etoile noire</h1>
    <p>Prêt-à-porter pour robots depuis 2008. Retrouvez le meilleur de la mode pour robots chez L'Etoile Noire.</p>
  </div>


  <div class="picture">
    <img [src]="chosenArticle.imgWith" alt="">
  </div>

  <div class="articles-wrapper">
    <div class="articles-container">
      <div *ngFor="let article of articles" class="card">
        <img class="card-img-top" [src]="article.img" alt="Article image">
        <div class="card-body">
          <h3 class="card-title">{{article.name}}</h3>
          <p class="card-text">{{article.price}} euros</p>
          <a (click)="ajouterAuPanier(article)" class="btn btn-sm btn-primary">Ajouter au panier</a>
          <a (click)="seeMeWith(article)" class="btn btn-sm btn-primary">Me voir avec</a>
        </div>
      </div>
    </div>
  </div>

  <app-panier></app-panier>


</section>