<footer
  class="section footer-classic context-dark bg-image"
  style="background: #191919"
>
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4">
        <div class="pr-xl-4 team">
          <a class="brand" href="index.html"
            ><img
              class="brand-logo-light"
              src="../../../assets/images/tjunami.png"
              alt=""
              width="100"
              height="37"
              srcset="images/agency/logo-retina-inverse-280x74.png 2x"
          /></a>
          <p>
            Start Up française pour aider toutes personnes à travers divers
            projets innovants.
          </p>

          <p class="rights">
            <span>© </span
            ><span class="copyright-year">{{ date | date: "yyyy" }}</span
            ><span> </span><span>. </span><span>All Rights Reserved.</span>
          </p>
        </div>
      </div>
      <div class="col-md-4 contact">
        <h5>Nous Contacter</h5>
        <dl class="contact-list">
          <dt>Adresse:</dt>
          <dd>
            Tjunami Industry<br />
            17 Rue Delandine<br />
            69002, Lyon
          </dd>
        </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">Tjunami@gmail.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>Numéro de téléphone:</dt>
          <dd><a href="tel:#">06 40 95 24 24</a></dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3 parte">
        <h5>Partenaires</h5>
        <ul class="nav-list">
          <li><a href="#">Wild Code School</a></li>
          <li><a href="#">Tjumanji</a></li>
          <li><a href="#">Mac-1</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row no-gutters social-container">
    <div class="col">
      <a class="social-inner" href="#"
        ><span a href="#"
          ><i class="icon ion-social-facebook"></i> Facebook</span
        ></a
      >
    </div>
    <div class="col">
      <a class="social-inner" href="#"
        ><span a href="#"
          ><i class="icon ion-social-instagram"></i> Instagram</span
        ></a
      >
    </div>
    <div class="col">
      <a class="social-inner" href="#"
        ><span a href="#"
          ><i class="icon ion-social-twitter"></i> Twitter</span
        ></a
      >
    </div>
    <div class="col">
      <a class="social-inner" href="#"
        ><span a href="#"
          ><i class="icon ion-social-snapchat"></i> Snapchat</span
        ></a
      >
    </div>
  </div>
</footer>
