/* TITRE ERREUR */
main {
  background-color: #252525;
  color: #1fd662;
  width: 100%;
}

h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 75px;
  margin-top: 0;
}

h2 {
  font-size: 40px;
  margin-top: 250px;
  padding-left: 100px;
}

.hr-erreur {
  text-align: center;
  border: 2px solid #1fd662;
  width: 30%;
}

/* TEXTE */

p {
  font-size: 30px;
  animation-duration: 3s;
  animation-name: slidein2;
  font-weight: 400;
  color: #1fd662;
  overflow: hidden;
  margin-left: 30px;
  text-align: center;
}

@keyframes slidein2 {
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* IMAGE ANIMATION */

img {
  display: block;
  height: 20%;
  width: 20%;
  animation-name: slideIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: -350px;
  overflow: hidden;
}

@keyframes slideIn {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(250px, 30px) rotate(180deg) scale(0.5);
  }

  50% {
    transform: translate(550px, 0px) rotate(-90deg);
  }

  75% {
    transform: translate(750px, 20px) rotate(180deg);
  }

  100% {
    transform: translate(850px, 30px) rotate(90deg);
  }
}

.container {
  background-color: #252525;
  height: 100%;
  width: 100%;
}

/* BUTTON */
button {
  margin-left: 30px;

  padding: 1rem 2rem 1rem 2rem;
  justify-self: center;
  font-size: 1.2rem;
  font-weight: 600;
  align-self: center;
  background-color: #1fd662;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 100ms ease-in-out;
  box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;
}
button:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3);
}
/* FIN BUTTON */

/* ----------- RESPONSIVE ------------- */
@media screen and (max-width: 990px) {
  main {
    height: 100%;
  }

  h1 {
    font-size: 15px;
  }

  h2 {
    font-size: 10px;
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
  }

  p {
    font-size: 10px;
    text-align: center;
  }

  .container {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
  }

  /* IMAGE ANIMATION */
  img {
    display: block;
    height: 30%;
    width: 30%;
    margin-top: -5px;

    animation-name: slideIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translate(0px, 0px);
    }

    50% {
      transform: translate(130px, 30px) rotate(180deg) scale(0.5);
    }

    100% {
      transform: translate(270px, 0px) rotate(0deg);
    }
    0% {
      transform: translate(0px, 10px);
    }

    25% {
      transform: translate(70px, 60px) rotate(180deg) scale(0.5);
    }

    50% {
      transform: translate(130px, 10px) rotate(0deg);
    }

    75% {
      transform: translate(180px, 60px) rotate(180deg) scale(0.5);
    }

    100% {
      transform: translate(250px, 0px) rotate(100deg);
    }
  }

  button {
    font-size: 0.7rem;
    height: 25px;
    padding: 5px;
    margin: auto;
    display: block;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
