<h1>Panier</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Article</th>
      <th scope="col">Price (€)</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articlesPanier">
      <td>{{article.name}}</td>
      <td>{{article.price}}</td>
      <td><button (click)="retirerDuPanier(article)" class="btn btn-primary delete">X</button></td>
    </tr>
    <!--     <tr>
      <td>Total:</td>
      <td>{{totalPrice}} €</td>
    </tr> -->
  </tbody>
</table>
<div class="center">
  <button (click)="confirmerCommande()" class="btn btn-primary">Confirmer commande</button>
</div>