main {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

/* WEATHER CARD */
.weather-card {
  margin-top: 5%;
  background-color: #202020;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20rem;
  margin-bottom: 5%;
  transition: all 200ms ease-in-out;
  border-left: 0px solid #1fd662;
}
.weather-card:hover {
  border-left: 7px solid #1fd662;
}
.card-top {
  height: 65%;
}
.card-title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.card-title p {
  font-family: "Poppins", sans-serif;
}
.logo {
  display: flex;
  justify-content: center;
}
.card-bottom {
  height: 35%;
  display: flex;
  flex-direction: row;
}

.conditions {
  font-size: 1.2rem;
  color: #fff;
  border-bottom-left-radius: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.degrees {
  color: #1fd662;
  font-size: 1.5rem;
}
.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1fd662;
  color: #252525;
  border-bottom-right-radius: 20px;
  width: 30%;
}
.sol {
  font-size: 1.2rem;
}
.earth {
  font-size: 1.1rem;
}
/* FIN WEATHER CARD */
@media screen and (max-width: 768px) {
  app-carousel {
    width: 100%;
  }
}
